# PyTorch và các gói liên quan (cần chỉ định index riêng)
mamba-ssm
causal-conv1d>=1.4.0
torch --index-url https://download.pytorch.org/whl/cu121
torchvision
torchaudio 
# Các gói phụ trợ
packaging
timm==0.4.12
pytest
chardet
yacs
termcolor
submitit
tensorboardX
scikit-learn
matplotlib
triton
thop
h5py
SimpleITK
scikit-image
medpy
