# PyTorch và các gói liên quan (cần chỉ định index riêng)
torch==1.13.0+cu117
torchvision==0.14.0+cu117
torchaudio==0.13.0+cu117
--extra-index-url https://download.pytorch.org/whl/cu117

# Các gói phụ trợ
packaging
timm==0.4.12
pytest
chardet
yacs
termcolor
submitit
tensorboardX
triton==2.0.0
scikit-learn
matplotlib
thop
h5py
SimpleITK
scikit-image
medpy
